div#system{
    height: 180px;
    border-bottom: #a9a9a9 1px solid;
    margin-bottom: 20px;

}

div.row1{
    margin: 30px 0 0 30px;
    line-height: 30px;
    font-size: 15px;

}

label.disk-info{
    padding: 0 8px;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
}

div.channel{
    height: 55px;
    margin-top: 30px;
    margin-right: 1px;
    background-color: #cecece;
    border-radius: 6px;
}

div.channel_in{
    margin-left: 5px;
    height: 25px;
    background:url("../image/28754.gif") center left;
    background-color: white;
    background-size: 210%;
    border-radius: 4px;
}

div.channel_in_off{
    margin-left: 5px;
    height: 25px;
    background-color: #e3e3e3;
    background-size: 50%;
    border-radius: 4px;
}

a.record,a.stop{
    margin-top: 13px;
    height: 30px;
    width: 30px;
    padding: 3px 5px;
    font-size: 16px;
}

.btn[disabled]{
    background-color: #a9a9a9;
}

.btn[disabled]:hover{
    background-color: #a9a9a9;
}

li#main>a{
    background-color: #eee;
    color: #23527c;
}

div#buttom{
    margin-bottom: 10px;
}

button.all{
    margin-left: 45px;
}


