li#usr>a{
    background-color: #eee;
    color: #23527c;
}

li#search_mid > a{
    color: #efb041;
    padding-left: 30px;
}


label.time{
    margin-left: 40px;
}

audio{
    width: 95%;
    margin-left: 15px;
}