div#selebox{
     margin:30px -15px 30px 50px;
    font-size: 15px;
}

div#audioTime{
    font-size: 15px;
}

input#id_audiotime{
    width: 80px;
}

div#audioMode{
    font-size: 15px;
}

input.single_line{
    width: 50%;
}

div.channel_name{
    margin:20px 0 0 40px;

}

li#config>a{
    background-color: #eee;
    color: #23527c;
}

li#dev_configed > a{
    color: #efb041;
    padding-left: 30px;
}

input#save{
    margin-top: 40px;
}

label#tips{
    margin-left: 50px;
    font-size: 18px;
    color:#ae0101;
}

input#save{
    margin-bottom: 30px;
}
