div#selebox{
     margin:30px 0px 30px 50px;
    font-size: 15px;
}

input.single_line{
    width: 50%;
}

div.channel_name{
    margin:20px 0 0 40px;

}

li#config>a{
    background-color: #eee;
    color: #23527c;
}

li#dev_configed > a{
    color: #efb041;
    padding-left: 30px;
}

input#save{
    margin-top: 40px;
}