{% extends "system/base.html" %}

{% load static %}

{% block title %}录音查询{% endblock %}

{% block css %}
<link href="{% static  "system/css/searchmid.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">录音查询</label></div>
    <h5 class="modal-title" id="filename">当前播放：</h5>
    <audio controls src="#" id="audio" ></audio>
    <h5 class="modal-title" >文件列表</h5>

    <table class="table table-hover table-condensed table-striped" id="key_table_body">
        <tbody>
        {% for list in lists %}
            <tr id="id{{ forloop.counter }}">
                <td><a href="#"  class="file" id="{{ list }}">{{list}}</a></td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="hidden">{{ name }}{{ permiss }}</div>


{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample1').attr('class','collapse in');
    $('a.file').click(function () {
        var filename = $(this).attr('id')
        $('#filename').html('当前播放：'+filename)
        var src ='../' + '{{ path }}'+'/' + filename
        //console.log(src)
        $('#audio').attr('src',src)
        audio = document.getElementById("audio");
        audio.play()
    })

</script>
{% endblock %}

