{% extends "system/base.html" %}

{% load static %}

{% block title %}录音查询{% endblock %}

{% block css %}
<link href="{% static  "system/css/searchmid.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">录音查询&nbsp&nbsp&nbsp&nbsp</label></div>
    <div class="row sparse">
        <audio controls="controls" src="" id="audio"></audio>
    </div>
    <div class="row sparse">
        <div class="col-md-6">
            <h5 class="modal-title" >文件列表</h5>
        </div>
        <div class="col-md-3">
            <a class="btn-primary btn" id="download-btn">批量文件下载</a>
        </div>
        <div class="col-md-3">
            <a class="btn-primary btn" id="play-btn">顺序播放</a>
        </div>
    </div>

    <table class="table table-hover table-condensed table-striped" id="key_table_body">
        <tbody>
        {% for list in lists %}
            <tr id="id{{ forloop.counter }}">
                <td><input name="download" type="checkbox"  value="../{{ path }}/{{ list }}" filename="{{ list }}"/></td>
                <td><a href="#"  class="file" id="{{ list }}">{{list}}&nbsp;&nbsp;<span class="glyphicon glyphicon-play" aria-hidden="true"></span></a></td>
                <td><a href="../{{ path }}/{{ list }}" download="{{list}}">下载&nbsp;&nbsp;<span class=" glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="hidden">{{ name }}{{ permiss }}</div>


{% endblock %}

{% block js %}
<script type="text/javascript">
    var audioarr = [];
    var audioname = [];
    var audio = document.getElementById("audio")

    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample1').attr('class','collapse in');
    $('a.file').click(function () {
        var filename = $(this).attr('id')
        var src ='../' + '{{ path }}'+'/' + filename
        $('#audio').attr('src',src)
        audio.play()
    })

    $('#download-btn').click(function () {
        $("input:checkbox[name='download']:checked").each(function () {
            audioarr.push($(this).val())
            audioname.push($(this).attr("filename"))
        })
        for (let index = 0; index < audioarr.length; index++) {
          download(audioname[index], audioarr[index]);
        }
        audioarr = [];
        audioname = [];
    })

    $('#play-btn').click(function () {
        $("input:checkbox[name='download']:checked").each(function () {
            audioarr.push($(this).val())
            audioname.push($(this).attr("filename"))
        })
        for (let index = 0; index < audioarr.length; index++) {
            $('#audio').attr('src',audioarr[index])
            audio.play()
            audio.addEventListener('ended',function () {
                alert(1)
            })
        }
        audioarr = [];
        audioname = [];
    })

    function download(name, href) {
        var a = document.createElement("a"), //创建a标签
        e = document.createEvent("MouseEvents"); //创建鼠标事件对象
        e.initEvent("click", false, false); //初始化事件对象
        a.href = href; //设置下载地址
        a.download = name; //设置下载文件名
        a.dispatchEvent(e); //给指定的元素，执行事件click事件//
    }

</script>
{% endblock %}

