{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static  "system/css/base.css" %}" rel="stylesheet">
    <link rel="shortcut icon" href="#" />
    {% block css %}{% endblock %}
	<script src="{% static "jquery-1.9.1/jquery.min.js" %}"></script>
	<script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        {% block modal-content %}{% endblock %}
    </div>
  </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div id="title">
            <p>数字音频录音软件</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="nav_bar" id="main"><a href="main.html?name={{ name }}&permiss={{ permiss }}">
                    <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> 设备状态</a>
                </li>
                <li role="presentation" class="nav_bar" id="config">
                    <a id="flow" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 设备配置</a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="nav_bar_inner" id="dev_configed"><a href="sysconfig.html?name={{ name }}&permiss={{ permiss }}">
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> 录音配置</a>
                            </li>
                            <li role="presentation" class="nav_bar_inner" id="usr_config"><a href="usrconfig.html?name={{ name }}&permiss={{ permiss }}">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 用户配置</a>
                            </li>
                            <li role="presentation" class="nav_bar_inner" id="net_config"><a href="netconfig.html?name={{ name }}&permiss={{ permiss }}">
                                <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> 网络配置</a>
                            </li>
                            <li role="presentation" class="nav_bar_inner" id="remo_control"><a href="remotectr.html?name={{ name }}&permiss={{ permiss }}">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> 远程控制</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li role="presentation" class="nav_bar" id="usr">
                    <a id="flow" role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 设备查询</a>
                    <div class="collapse" id="collapseExample1">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="nav_bar_inner" id="search_mid"><a href="searchmid.html?name={{ name }}&permiss={{ permiss }}">
                                <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> 录音查询</a>
                            </li>
                            <li role="presentation" class="nav_bar_inner" id="dev_free"><a href="free.html?name={{ name }}&permiss={{ permiss }}">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 日志查询</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>


{% block js %}{% endblock %}
<script type="text/javascript">
       function heartbeat(){

            $.ajax({
                type: 'GET',
                url: 'heartbeat',


              success: function(result) {
                console.log(result.msg)
              },


            })
    }
    setInterval(heartbeat,10000)
</script>
</body>
</html>


