{% extends "system/base.html" %}

{% load static %}

{% block title %}系统配置{% endblock %}

{% block css %}
<link href="{% static  "system/css/channelconfig.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="alert alert-danger " role="alert" id="myalter" style="display: none">
        <button type="button" class="close" id="close" >
          <span aria-hidden="true">&times;</span>
        </button>
      <strong id="tips" >录音阈值或录音时长格式错误</strong>，该值只能为正整数，请重新输入。
    </div>
    <div class="row sparse"><label class="head">录音配置&nbsp&nbsp&nbsp&nbsp</label></div>


    <div class="row tips">
        <label>通道配置</label>
    </div>
    <form method="post" onsubmit="return checknum()">
        <div class="row1 row selebox">
            <div class="col-md-4">
                {{ form.channelNo.label_tag}}&nbsp;&nbsp;&nbsp;&nbsp;channel{{ form.channelNo}}
            </div>
        </div>
        <div class="row1 row selebox">
            <div class="col-md-6">
                {{ form.channelname.label_tag}}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.channelname}}
            </div>
            <div class="col-md-6">
                {{ form.recordval.label_tag}}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.recordval}}
            </div>
        </div>
        <div class="row1 row selebox">
            <div class="col-md-6">
                {{ form.audiomode.label_tag}}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.audiomode}}
            </div>
            <div class="col-md-6">
                {{ form.mutetime.label_tag}}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.mutetime}}秒
            </div>
        </div>
        <div class="hidden">{{ form.usrname_n}}</div>
        <div class="hidden">{{ form.usr_perssions_n}}</div>
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <input type="submit" value="保&nbsp&nbsp存" id="save" class="btn btn-primary">
            </div>
        </div>
    </form>









{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample').attr('class','collapse in');
    $('input#id_usrname_n').val("{{ name }}")
    $('input#id_usr_perssions_n').val("{{ permiss }}")

    function checknum() {
        var val = $('input#id_recordval').val()
        var time = $('input#id_mutetime').val()
        if ((/(^[1-9]\d*$)/.test(val))&&(/(^[1-9]\d*$)/.test(time))) {
            return true
        }else {
            $('#myalter').attr('style','display:block')
            return false　　　　　　
        }


    }

    if('{{ method }}'=='get'){

        $('input#id_channelNo').val("{{ channelno }}")
        $('input#id_channelname').val("{{ channelname }}")
        $('input#id_recordval').val("{{ recordval }}")
        $('input#id_mutetime').val("{{ mutetime }}")
        $('select#id_audiomode').val('{{audiomode}}')
    }

    $('button#close').click(function () {
        $('#myalter').attr('style','display:none')
    });






</script>
{% endblock %}