{% extends "system/base.html" %}

{% load static %}

{% block title %}系统配置{% endblock %}

{% block css %}
<link href="{% static  "system/css/free.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">日志查询&nbsp&nbsp&nbsp&nbsp</label></div>
        <table class="table table-hover table-condensed table-striped" id="key_table_body">
            <tbody>
            {% for book in book_list %}

			<li>{{ book }}</li>
		{% endfor %}
            </tbody>
        </table>

	<ul class="pagination" id="pager">
		{#上一页按钮开始#}
		{# 如果当前页有上一页#}
		{% if book_list.has_previous %}
			{#  当前页的上一页按钮正常使用#}
			<li class="previous"><a href="free.html?page={{ book_list.previous_page_number }}">上一页</a></li>
		{% else %}
			{# 当前页的不存在上一页时,上一页的按钮不可用#}
			<li class="previous disabled"><a href="#">上一页</a></li>
		{% endif %}
		{#上一页按钮结束#}
		{# 页码开始#}
		{% for num in paginator.page_range %}

			{% if num == currentPage %}
				<li class="item active"><a href="free.html?page={{ num }}">{{ num }}</a></li>
			{% else %}
				<li class="item"><a href="free.html?page={{ num }}">{{ num }}</a></li>

			{% endif %}
		{% endfor %}
		{#页码结束#}
		{# 下一页按钮开始#}
		{% if book_list.has_next %}
			<li class="next"><a href="free.html?page={{ book_list.next_page_number }}">下一页</a></li>
		{% else %}
			<li class="next disabled"><a href="#">下一页</a></li>
		{% endif %}
		{# 下一页按钮结束#}
	</ul>

{% endblock %}

{% block js %}
<script type="text/javascript">
        var timestamp = Date.parse(new Date());
        var timestamp = timestamp / 1000;
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1):date.getMonth()+1) + '-';
        var D = (date.getDate()< 10 ? '0'+date.getDate():date.getDate());
        var h = (date.getHours() < 10 ? '0'+date.getHours():date.getHours())+ ':';
        var m = (date.getMinutes() < 10 ? '0'+date.getMinutes():date.getMinutes());
        var time2 = Y+M+D+"T"+h+m
        $('#start_time').val(time2)
        $('#end_time').val(time2)

    $("#sel option[value='{{ channel_no_a }}']").attr("selected","selected")
    $('#submit').click(function () {

    })



</script>
{% endblock %}

