{% extends "system/base.html" %}

{% load static %}

{% block title %}系统配置{% endblock %}

{% block css %}
<link href="{% static  "system/css/free.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">录音查询&nbsp&nbsp&nbsp&nbsp</label></div>
        <div class="row sparse">
            <div class="col-md-6">
                <label class="time2" >查询起始时间&nbsp&nbsp</label><input id="start_time" name="start_time" type="datetime-local" value="2022-01-01T00:00"/>
            </div>
            <div class="col-md-6">
                <label class="time2">查询截止时间&nbsp&nbsp</label><input type="datetime-local" id="end_time" name="end_time" value="2022-01-01T00:00"/>
            </div>
        </div>
        <div class="row sparse">
            <div class="col-md-12">
                <label class="time2">按通道名(通道号)查询&nbsp&nbsp
                    <select id="sel" name="no">
                        <option value="all" selected="selected">全部 </option>
                        <option value="1" >1通道1</option>
                        <option value="2">2通道2</option>
                        <option value="3">3通道3</option>
                        <option value="4">4通道4</option>
                    </select>
                </label>
            </div>
             <div class="col-md-3 col-md-offset-9">
                 <input type="submit" value="搜索" class="btn btn-primary" id="submit">

             </div>
        </div>



        <table class="table table-hover table-condensed table-striped" id="key_table_body">
            <tbody>
            {% for list in lists %}
                <tr id="id{{ forloop.counter }}">
                <td>>{{list.0}}</td>
                <td>{{list.1}}></td>
                <td>{{list.2}}</td>
                <td>{{list.3}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

<ul class="pagination">


{% if c_page.has_previous %}
<li></li><a href="free.html?page={{ page_obj.previous_page_number }}" id="up">上一页</a></li>
{% else %}
    <li>上一页</li>
{% endif %}

 {% for p_num in paginator.page_range %}
        {#若是当前页，则显示为普通的一个数字#}
        {% if p_num == c_page_number %}
            {{ p_num }}
            {# 若不是当前页面，则显示为一个超链接 #}
        {% else  %}
            <a href="/free.html?page={{ p_num }}">{{ p_num }}</a>

        {% endif %}

    {% endfor %}


  {% if c_page.has_next %}
        <a href="free.html?page={{ page_obj.next_page_number}}" id ="down">下一页</a>
    {% else %}
        <li>下一页</li>
    {% endif %}

</ul>

{% endblock %}

{% block js %}
<script type="text/javascript">
        var timestamp = Date.parse(new Date());
        var timestamp = timestamp / 1000;
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1):date.getMonth()+1) + '-';
        var D = (date.getDate()< 10 ? '0'+date.getDate():date.getDate());
        var h = (date.getHours() < 10 ? '0'+date.getHours():date.getHours())+ ':';
        var m = (date.getMinutes() < 10 ? '0'+date.getMinutes():date.getMinutes());
        var time2 = Y+M+D+"T"+h+m
        $('#start_time').val(time2)
        $('#end_time').val(time2)

    $("#sel option[value='{{ channel_no_a }}']").attr("selected","selected")
    $('#submit').click(function () {

    })



</script>
{% endblock %}

