{% extends "system/base.html" %}

{% load static %}

{% block title %}设备状态{% endblock %}

{% block css %}
<link href="{% static  "system/css/main.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">设备状态&nbsp&nbsp&nbsp&nbsp</label></div>
    <div class="row">
        <div class="col-md-5" id="system">
            <div class="row tips">
                <label>系统状态</label>
            </div>
            <div class="row1 row" >
                <div class="col-md-12">
                    当前录音模式:<label id="a_mode"></label>

                </div>
            </div>
            <div class="row1 row">
                <div class="col-md-5">
                    当前用户:<label>{{ name }}:{{ permiss }}</label>

                </div>
            </div>

        </div>
        <div class="col-md-7" id="disk">
            <div class="row tips">
                <label>磁盘状态</label>

            </div>
            <div class="row1 row">
                <div class="col-md-5">
                    磁盘剩余空间:<label class="disk-info" id="space">....G</label>

                </div>
            </div>
            <div class="row1 row">
                <div class="col-md-6">
                    磁盘剩余可录制时间(单通道):<label class="disk-info" id="record_time">.....h</label>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 channel">
            <div class="row">
                <div class="col-md-8">
                    <label>通道号：1</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="c1_name">通道名：1</label>
                    <div class="row channel_in_off" id="channel1">

                    </div>

                </div>
                <div class="col-md-1 col-md-offset-1">
                    <a class="btn btn-danger record"  id="record1">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-md-2 ">
                    <a class="btn btn-default stop"  disabled="disabled"  id="stop1">
                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-1 channel">
        <div class="row">
            <div class="col-md-8">
                <label>通道号：2</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="c2_name">通道名：2</label>
                <div class="row channel_in_off" id="channel2">

                </div>

            </div>
            <div class="col-md-1 col-md-offset-1">
                <a class="btn btn-danger record" id="record2">
                        <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-md-2 ">
                <a class="btn btn-default stop" disabled="disabled" id="stop2">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>

    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 channel">
            <div class="row">
                <div class="col-md-8">
                    <label>通道号：3</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="c3_name">通道名：3</label>
                    <div class="row channel_in_off" id="channel3">

                    </div>

                </div>
                <div class="col-md-1 col-md-offset-1">
                    <a class="btn btn-danger record" id="record3">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-md-2 ">
                    <a class="btn btn-default stop" disabled="disabled" id="stop3">
                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-1 channel">
        <div class="row">
            <div class="col-md-8">
                <label>通道号：4</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label id="c4_name" >通道名：4</label>
                <div class="row channel_in_off" id="channel4">

                </div>

            </div>
            <div class="col-md-1 col-md-offset-1">
                <a class="btn btn-danger record" id="record4">
                        <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-md-2 ">
                <a class="btn btn-default stop" disabled="disabled" id="stop4">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>

    </div>


{% endblock %}

{% block js %}
<script type="text/javascript">
    $('label#a_mode').html('{{ audiomode }}')
    $('label#c1_name').html('通道名：{{ channel1 }}')
    $('label#c2_name').html('通道名：{{ channel2 }}')
    $('label#c3_name').html('通道名：{{ channel3 }}')
    $('label#c4_name').html('通道名：{{ channel4 }}')
    var no = 0

{% for r_statu in r_status %}
    if ('{{ r_statu }}' == 'on'){
        start('{{ forloop.counter }}')
    }else if('{{ r_statu }}' == 'off'){
        stop('{{ forloop.counter }}')

    }

{% endfor %}

    function wait(str,act) {
        $('#' + act + str +'>span').attr('class','glyphicon glyphicon-option-horizontal')
        $('#' + act + str).attr('disabled','disabled')

    }

    function re_w(str,act) {
        $('#' + act + str +'>span').attr('class','glyphicon glyphicon-'+act)
        $('#' + act + str).removeAttr('disabled')
    }

    function start(str) {
        $('#record'+str).attr('disabled','disabled')
        $('#record'+str +'>span').attr('class','glyphicon glyphicon-record')
        $('#stop'+str).removeAttr('disabled')
        $('#channel'+str).attr('class','row channel_in')

    }

    function stop(str) {
        $('#stop'+str).attr('disabled','disabled')
        $('#stop'+str +'>span').attr('class','glyphicon glyphicon-stop')
        $('#record'+str).removeAttr('disabled')
        $('#channel'+str).attr('class','row channel_in_off')
    }

    function getdiskStatus(){
        $.get('getdiskStatus').done(function (info) {
            if(no == info.no){

            }else{
                $('label#space').html(info.no + 'G')
                $('label#record_time').html(info.time + 'h')
                no = info.no
            }

        }).fail(function () {

        })
    }
    getdiskStatus()
    setInterval(getdiskStatus,10000)


    $('#record1').click(function () {
        wait('1','record')
        var data = {"cmdCheck": 0x02, "Seq": 0x15,
        "audioPara": {"audioFunc": 1, "audioType": 1, "recordType": 0, "recordTime": 20, "nDevNo": 1, "nCapNo": 0,
                      "mp3Bps": 128, "sampleRate": 48000, "timeInterval": 10, "fileName": "1",
                      "isStereoSaveFlag": 0}}
        var jsonstr = JSON.stringify(data);
        $.post('sendData',{"mes":jsonstr}).done(function (info) {
            if(info.msg=='success'){
                $.post('recordStatus',{'no':'1','act':'on'}).done(function () {
                    start('1')

                }).fail(function () {

                })

            }else{
                re_w('1','record')

            }

        }).fail(function () {

        })
        var timestamp = Date.parse(new Date());
        var timestamp = timestamp / 1000;
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1):date.getMonth()+1) + '-';
        var D = (date.getDate()< 10 ? '0'+date.getDate():date.getDate());
        var h = (date.getHours() < 10 ? '0'+date.getHours():date.getHours())+ ':';
        var m = (date.getMinutes() < 10 ? '0'+date.getMinutes():date.getMinutes())+":";
        var s = (date.getSeconds()< 10 ? '0'+date.getSeconds():date.getSeconds())
        var time = Y+M+D+" "+h+m+s;
        var dict = {"name":"{{ name }}","start_time":time,"channel_no":"1","channel_name":"{{ channel1 }}"}

        var json_dict = JSON.stringify(dict)
        $.post('free_log',{"mes":json_dict}).done(function (info) {


        }).fail(function () {

        })

    })

    $('#stop1').click(function () {
        wait('1','stop')

        var data = {"cmdCheck": 0x02, "Seq": 0x15,
        "audioPara": {"audioFunc": 2, "audioType": 1, "recordType": 0, "recordTime": 2, "nDevNo": 1, "nCapNo": 0,
                      "mp3Bps": 128, "sampleRate": 48000, "timeInterval": 10, "fileName": "1",
                      "isStereoSaveFlag": 0}}
        var jsonstr = JSON.stringify(data);
        $.post('sendData',{"mes":jsonstr}).done(function (info) {
            if(info.msg=='success'){
                $.post('recordStatus',{'no':'1','act':'off'}).done(function () {
                    stop('1')

                }).fail(function () {

                })
            }else {
                re_w('1','stop')
            }



        }).fail(function () {

        })
        var timestamp = Date.parse(new Date());
        var timestamp = timestamp / 1000;
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1):date.getMonth()+1) + '-';
        var D = (date.getDate()< 10 ? '0'+date.getDate():date.getDate());
        var h = (date.getHours() < 10 ? '0'+date.getHours():date.getHours())+ ':';
        var m = (date.getMinutes() < 10 ? '0'+date.getMinutes():date.getMinutes())+":";
        var s = (date.getSeconds()< 10 ? '0'+date.getSeconds():date.getSeconds())
        var time = Y+M+D+" "+h+m+s
        var dict = {"end_time":time,"channel_no":"1","channel_name":"{{ channel1 }}","name":"{{ name }}"}

        var json_dict = JSON.stringify(dict)
        $.post('free_log',{"mes":json_dict}).done(function (info) {


        }).fail(function () {

        })

    })

    $('#record2').click(function () {
        wait('2','record')

        var data = {"cmdCheck": 0x02, "Seq": 0x15,
        "audioPara": {"audioFunc": 1, "audioType": 1, "recordType": 0, "recordTime": 20, "nDevNo": 1, "nCapNo": 1,
                      "mp3Bps": 128, "sampleRate": 48000, "timeInterval": 10, "fileName": "2",
                      "isStereoSaveFlag": 0}}
        var jsonstr = JSON.stringify(data);
        $.post('sendData',{"mes":jsonstr}).done(function (info) {
            if(info.msg=='success'){
                $.post('recordStatus',{'no':'2','act':'on'}).done(function () {
                    start('2')

                }).fail(function () {

                })
            }else {
                re_w('2','record')
            }


        }).fail(function () {

        })
        var timestamp = Date.parse(new Date());
        var timestamp = timestamp / 1000;
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1):date.getMonth()+1) + '-';
        var D = (date.getDate()< 10 ? '0'+date.getDate():date.getDate());
        var h = (date.getHours() < 10 ? '0'+date.getHours():date.getHours())+ ':';
        var m = (date.getMinutes() < 10 ? '0'+date.getMinutes():date.getMinutes())+':';
        var s = (date.getSeconds() <10 ? '0'+date.getSeconds():date.getSeconds())
        var time = Y+M+D+" "+h+m+s
        var dict = {"name":"{{ name }}","start_time":time,"channel_no":"2","channel_name":"{{ channel2 }}"}

        var json_dict = JSON.stringify(dict)
        $.post('free_log',{"mes":json_dict}).done(function (info) {


        }).fail(function () {

        })

    })

    $('#stop2').click(function () {
        wait('2','stop')

        var data = {"cmdCheck": 0x02, "Seq": 0x15,
        "audioPara": {"audioFunc": 2, "audioType": 1, "recordType": 0, "recordTime": 2, "nDevNo": 1, "nCapNo": 1,
                      "mp3Bps": 128, "sampleRate": 48000, "timeInterval": 10, "fileName": "2",
                      "isStereoSaveFlag": 0}}
        var jsonstr = JSON.stringify(data);
        $.post('sendData',{"mes":jsonstr}).done(function (info) {
            if(info.msg=='success'){
                $.post('recordStatus',{'no':'2','act':'off'}).done(function () {
                    stop('2')

                }).fail(function () {

                })
            }else {
                re_w('2','stop')
            }



        }).fail(function () {

        })
        var timestamp = Date.parse(new Date());
        var timestamp = timestamp / 1000;
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1):date.getMonth()+1) + '-';
        var D = (date.getDate()< 10 ? '0'+date.getDate():date.getDate());
        var h = (date.getHours() < 10 ? '0'+date.getHours():date.getHours())+ ':';
        var m = (date.getMinutes() < 10 ? '0'+date.getMinutes():date.getMinutes())+':';
        var s = (date.getSeconds() <10 ? '0'+date.getSeconds():date.getSeconds());
        var time = Y+M+D+" "+h+m+s
        var dict = {"end_time":time,"channel_no":"2","channel_name":"{{ channel2 }}","name":"{{ name }}"}
        var json_dict = JSON.stringify(dict)
        $.post('free_log',{"mes":json_dict}).done(function (info) {


        }).fail(function () {

        })
    })

    $('#record3').click(function () {
        wait('3','record')


        var data = {"cmdCheck": 0x02, "Seq": 0x15,
        "audioPara": {"audioFunc": 1, "audioType": 1, "recordType": 0, "recordTime": 2, "nDevNo": 0, "nCapNo": 0,
                      "mp3Bps": 128, "sampleRate": 48000, "timeInterval": 10, "fileName": "3",
                      "isStereoSaveFlag": 0}}
        var jsonstr = JSON.stringify(data);
        $.post('sendData',{"mes":jsonstr}).done(function (info) {
            if(info.msg=='success'){
                 $.post('recordStatus',{'no':'3','act':'on'}).done(function () {
                     start('3')

                }).fail(function () {

                })
            }else{
                re_w('3','record')
            }


        }).fail(function () {

        })
        var timestamp = Date.parse(new Date());
        var timestamp = timestamp / 1000;
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1):date.getMonth()+1) + '-';
        var D = (date.getDate()< 10 ? '0'+date.getDate():date.getDate());
        var h = (date.getHours() < 10 ? '0'+date.getHours():date.getHours())+ ':';
        var m = (date.getMinutes() < 10 ? '0'+date.getMinutes():date.getMinutes())+':';
        var s = (date.getSeconds()< 10 ? '0'+date.getSeconds():date.getSeconds())
        var time = Y+M+D+" "+h+m+s
        var dict = {"name":"{{ name }}","start_time":time,"channel_no":"3","channel_name":"{{ channel3 }}"}
        var json_dict = JSON.stringify(dict)
        $.post('free_log',{"mes":json_dict}).done(function (info) {


        }).fail(function () {

        })

    })

    $('#stop3').click(function () {
        wait('3','stop')

        var data = {"cmdCheck": 0x02, "Seq": 0x15,
        "audioPara": {"audioFunc": 2, "audioType": 1, "recordType": 0, "recordTime": 2, "nDevNo": 0, "nCapNo": 0,
                      "mp3Bps": 128, "sampleRate": 48000, "timeInterval": 10, "fileName": "3",
                      "isStereoSaveFlag": 0}}
        var jsonstr = JSON.stringify(data);
        $.post('sendData',{"mes":jsonstr}).done(function (info) {
            if(info.msg=='success'){
                $.post('recordStatus',{'no':'3','act':'off'}).done(function () {
                    stop('3')

                }).fail(function () {

                })
            }else {
                re_w('3','stop')
            }


        }).fail(function () {

        })
        var timestamp = Date.parse(new Date());
        var timestamp = timestamp / 1000;
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1):date.getMonth()+1) + '-';
        var D = (date.getDate()< 10 ? '0'+date.getDate():date.getDate());
        var h = (date.getHours() < 10 ? '0'+date.getHours():date.getHours())+ ':';
        var m = (date.getMinutes() < 10 ? '0'+date.getMinutes():date.getMinutes())+":";
        var s = (date.getSeconds()< 10 ? '0'+date.getSeconds():date.getSeconds())
        var time = Y+M+D+" "+h+m+s
        var dict = {"end_time":time,"channel_no":"3","channel_name":"{{ channel3 }}","name":"{{ name }}"}
        var json_dict = JSON.stringify(dict)
        $.post('free_log',{"mes":json_dict}).done(function (info) {


        }).fail(function () {

        })
    })

    $('#record4').click(function () {
        wait('4','record')


        var data = {"cmdCheck": 0x02, "Seq": 0x15,
        "audioPara": {"audioFunc": 1, "audioType": 1, "recordType": 0, "recordTime": 2, "nDevNo": 0, "nCapNo": 1,
                      "mp3Bps": 128, "sampleRate": 48000, "timeInterval": 10, "fileName": "4",
                      "isStereoSaveFlag": 0}}
        var jsonstr = JSON.stringify(data);
        $.post('sendData',{"mes":jsonstr}).done(function (info) {
                if(info.msg=='success'){
                     $.post('recordStatus',{'no':'4','act':'on'}).done(function () {
                        start('4')
                    }).fail(function () {

                    })
                }else {
                    re_w('4','record')
                }

        }).fail(function () {

        })
        var timestamp = Date.parse(new Date());
        var timestamp = timestamp / 1000;
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1):date.getMonth()+1) + '-';
        var D = (date.getDate()< 10 ? '0'+date.getDate():date.getDate());
        var h = (date.getHours() < 10 ? '0'+date.getHours():date.getHours())+ ':';
        var m = (date.getMinutes() < 10 ? '0'+date.getMinutes():date.getMinutes())+':';
        var s = (date.getSeconds()<10 ? '0'+date.getSeconds():date.getSeconds())
        var time = Y+M+D+" "+h+m+s
        var dict = {"name":"{{ name }}","start_time":time,"channel_no":"4","channel_name":"{{ channel4 }}"}

        var json_dict = JSON.stringify(dict)
        $.post('free_log',{"mes":json_dict}).done(function (info) {


        }).fail(function () {

        })

    })

    $('#stop4').click(function () {
        wait('4','stop')

        var data = {"cmdCheck": 0x02, "Seq": 0x15,
        "audioPara": {"audioFunc": 2, "audioType": 1, "recordType": 0, "recordTime": 2, "nDevNo": 0, "nCapNo": 1,
                      "mp3Bps": 128, "sampleRate": 48000, "timeInterval": 10, "fileName": "4",
                      "isStereoSaveFlag": 0}}
        var jsonstr = JSON.stringify(data);
        $.post('sendData',{"mes":jsonstr}).done(function (info) {
            if(info.msg=='success'){
                $.post('recordStatus',{'no':'4','act':'off'}).done(function () {
                    stop('4')

                }).fail(function () {

                })
            }else {
                re_w('4','stop')
            }


        }).fail(function () {

        })
        var timestamp = Date.parse(new Date());
        var timestamp = timestamp / 1000;
        var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1):date.getMonth()+1) + '-';
        var D = (date.getDate()< 10 ? '0'+date.getDate():date.getDate());
        var h = (date.getHours() < 10 ? '0'+date.getHours():date.getHours())+ ':';
        var m = (date.getMinutes() < 10 ? '0'+date.getMinutes():date.getMinutes())+":";
        var s = (date.getSeconds() <10 ? '0'+date.getSeconds():date.getSeconds())
        var time = Y+M+D+" "+h+m+s
        var dict = {"end_time":time,"channel_no":"4","channel_name":"{{ channel4 }}","name":"{{ name }}"}
        var json_dict = JSON.stringify(dict)
        $.post('free_log',{"mes":json_dict}).done(function (info) {


        }).fail(function () {

        })
    })
</script>
{% endblock %}

