{% extends "system/base.html" %}

{% load static %}

{% block title %}设备状态{% endblock %}

{% block css %}
<link href="{% static  "system/css/main.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">设备状态&nbsp&nbsp&nbsp&nbsp</label></div>
    <div class="row" id="system">
        <div class="col-md-5" >
            <div class="row tips">
                <label>系统状态</label>
            </div>
            <div class="row1 row" >
                <div class="col-md-12">
                    当前存储音频格式:<label id="a_mode">{{ type }}</label>

                </div>
            </div>
            <div class="row1 row">
                <div class="col-md-12">
                    当前用户:<label>{{ name }}:{{ permiss }}</label>

                </div>
            </div>

        </div>
        <div class="col-md-7" id="disk">
            <div class="row tips">
                <label>磁盘状态</label>

            </div>
            <div class="row1 row">
                <div class="col-md-11">
                    磁盘剩余空间:<label class="disk-info" id="space">....G</label>&nbsp&nbsp&nbsp&nbsp
                    <span id="warntip" style="display:inline;">磁盘剩余空间不足</span>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-danger all" id="startall">
            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;全部开始录音
        </button>
        <button class="btn btn-default all" id="stopall">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;全部结束录音

        </button>

    </div>
    <div class="row">
        <div class="col-md-2 ">
            <div class="row channel">
                <div class="col-md-9">
                    <label>1</label>&nbsp;&nbsp;<label id="c1_name">通道名通道名</label>
                    <div class="row channel_in_off" id="channel1">
                        <div class="progress" id="progress1" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green1" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow1" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red1" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record"  id="1">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>2</label>&nbsp;&nbsp;<label id="c2_name">通道名：2</label>
                    <div class="row channel_in_off" id="channel2">
                        <div class="progress" id="progress2" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green2" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow2" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red2" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="2">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>3</label>&nbsp;&nbsp;<label id="c3_name">通道名：3</label>
                    <div class="row channel_in_off" id="channel3">
                        <div class="progress" id="progress3" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green3" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow3" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red3" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="3">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>4</label>&nbsp;&nbsp;<label id="c4_name" >4</label>
                    <div class="row channel_in_off" id="channel4">
                        <div class="progress" id="progress4" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green4" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow4" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red4" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="4">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>5</label>&nbsp;&nbsp;<label id="c5_name" >5</label>
                    <div class="row channel_in_off" id="channel5">
                        <div class="progress" id="progress5" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green5" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow5" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red5" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="5">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>6</label>&nbsp;&nbsp;<label id="c6_name" >6</label>
                    <div class="row channel_in_off" id="channel6">
                        <div class="progress" id="progress6" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green6" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow6" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red6" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="6">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-2 ">
            <div class="row channel">
                <div class="col-md-9">
                    <label>7</label>&nbsp;&nbsp;<label id="c7_name">7</label>
                    <div class="row channel_in_off" id="channel7">
                        <div class="progress" id="progress7" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green7" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow7" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red7" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record"  id="7">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>8</label>&nbsp;&nbsp;<label id="c8_name">8</label>
                    <div class="row channel_in_off" id="channel8">
                        <div class="progress" id="progress8" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green8" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow8" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red8" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="8">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>9</label>&nbsp;&nbsp;<label id="c9_name">9</label>
                    <div class="row channel_in_off" id="channel9">
                        <div class="progress" id="progress9" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green9" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow9" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red9" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="9">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>10</label>&nbsp;&nbsp;<label id="c10_name" >10</label>
                    <div class="row channel_in_off" id="channel10">
                        <div class="progress" id="progress10" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green10" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow10" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red10" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="10">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>11</label>&nbsp;&nbsp;<label id="c11_name" >11</label>
                    <div class="row channel_in_off" id="channel11">
                        <div class="progress" id="progress11" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green11" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow11" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red11" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="11">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>12</label>&nbsp;&nbsp;<label id="c12_name" >12</label>
                    <div class="row channel_in_off" id="channel12">
                        <div class="progress" id="progress12" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green12" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow12" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red12" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="12">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-2 ">
            <div class="row channel">
                <div class="col-md-9">
                    <label>13</label>&nbsp;&nbsp;<label id="c13_name">13</label>
                    <div class="row channel_in_off" id="channel13">
                        <div class="progress" id="progress13" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green13" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow13" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red13" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record"  id="13">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>14</label>&nbsp;&nbsp;<label id="c14_name">14</label>
                    <div class="row channel_in_off" id="channel14">
                        <div class="progress" id="progress14" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green14" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow14" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red14" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="14">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>15</label>&nbsp;&nbsp;<label id="c15_name">15</label>
                    <div class="row channel_in_off" id="channel15">
                        <div class="progress" id="progress15" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green15" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow15" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red15" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="15">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>16</label>&nbsp;&nbsp;<label id="c16_name" >16</label>
                    <div class="row channel_in_off" id="channel16">
                        <div class="progress" id="progress16" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green16" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow16" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red16" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="16">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>17</label>&nbsp;&nbsp;<label id="c17_name" >17</label>
                    <div class="row channel_in_off" id="channel17">
                        <div class="progress" id="progress17" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green17" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow17" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red17" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="17">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>18</label>&nbsp;&nbsp;<label id="c18_name" >18</label>
                    <div class="row channel_in_off" id="channel18">
                        <div class="progress" id="progress18" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green18" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow18" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red18" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="18">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-2 ">
            <div class="row channel">
                <div class="col-md-9">
                    <label>19</label>&nbsp;&nbsp;<label id="c19_name">19</label>
                    <div class="row channel_in_off" id="channel19">
                        <div class="progress" id="progress19" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green19" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow19" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red19" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record"  id="19">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>20</label>&nbsp;&nbsp;<label id="c20_name">20</label>
                    <div class="row channel_in_off" id="channel20">
                        <div class="progress" id="progress20" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green20" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow20" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red20" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="20">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>21</label>&nbsp;&nbsp;<label id="c21_name">21</label>
                    <div class="row channel_in_off" id="channel21">
                        <div class="progress" id="progress21" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green21" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow21" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red21" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="21">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>22</label>&nbsp;&nbsp;<label id="c22_name" >22</label>
                    <div class="row channel_in_off" id="channel22">
                        <div class="progress" id="progress22" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green22" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow22" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red22" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="22">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>23</label>&nbsp;&nbsp;<label id="c23_name" >23</label>
                    <div class="row channel_in_off" id="channel23">
                        <div class="progress" id="progress23" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green23" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow23" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red23" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="23">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>24</label>&nbsp;&nbsp;<label id="c24_name" >24</label>
                    <div class="row channel_in_off" id="channel24">
                        <div class="progress" id="progress24" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green24" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow24" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red24" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="24">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-2 ">
            <div class="row channel">
                <div class="col-md-9">
                    <label>25</label>&nbsp;&nbsp;<label id="c25_name">25</label>
                    <div class="row channel_in_off" id="channel25">
                        <div class="progress" id="progress25" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green25" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow25" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red25" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record"  id="25">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>26</label>&nbsp;&nbsp;<label id="c26_name">26</label>
                    <div class="row channel_in_off" id="channel26">
                        <div class="progress" id="progress26" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green26" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow26" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red26" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="26">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>27</label>&nbsp;&nbsp;<label id="c27_name">27</label>
                    <div class="row channel_in_off" id="channel27">
                        <div class="progress" id="progress27" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green27" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow27" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red27" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="27">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>28</label>&nbsp;&nbsp;<label id="c28_name" >28</label>
                    <div class="row channel_in_off" id="channel28">
                        <div class="progress" id="progress28" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green28" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow28" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red28" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="28">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>29</label>&nbsp;&nbsp;<label id="c29_name" >29</label>
                    <div class="row channel_in_off" id="channel29">
                        <div class="progress" id="progress29" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green29" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow29" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red29" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="29">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>30</label>&nbsp;&nbsp;<label id="c30_name" >30</label>
                    <div class="row channel_in_off" id="channel30">
                        <div class="progress" id="progress30" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green30" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow30" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red30" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="30">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="buttom">
        <div class="col-md-2 ">
            <div class="row channel">
                <div class="col-md-9">
                    <label>31</label>&nbsp;&nbsp;<label id="c31_name">31</label>
                    <div class="row channel_in_off" id="channel31">
                        <div class="progress" id="progress31" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green31" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow31" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red31" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record"  id="31">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row channel">
                <div class="col-md-9">
                    <label>32</label>&nbsp;&nbsp;<label id="c32_name">32</label>
                    <div class="row channel_in_off" id="channel32">
                        <div class="progress" id="progress32" style="display:none ">
                            <div class="progress-bar progress-bar-success" id="green32" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-warning " id="yellow32" style="width: 0%">

                            </div>
                            <div class="progress-bar progress-bar-danger" id="red32" style="width: 0%">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-danger record" id="32">
                            <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>












{% endblock %}

{% block js %}
<script type="text/javascript">
{% for channel in channels %}
    $('label#c{{ forloop.counter }}_name').html(':{{ channel }}')
{% endfor %}

    var no = 0
    var intervalarr = []

{% for r_statu in r_status %}
    if ('{{ r_statu }}' == 'on'){
        start('{{ forloop.counter }}')
        intervalarr[{{ forloop.counter }}] =  setInterval(showval,300,'{{ forloop.counter }}')
    }else if('{{ r_statu }}' == 'off'){
        stop('{{ forloop.counter }}')
        clearInterval(intervalarr[{{ forloop.counter }}])

    }

{% endfor %}

    function wait(str) {
        $('#' + str +'>span').attr('class','glyphicon glyphicon-option-horizontal')
        $('#' + str).attr('disabled','disabled')

    }

    function re_w(str,act) {
        if(act == 'record'){
            $('#'+str).attr('class','btn btn-danger record')
        }else {
            $('#'+str).attr('class','btn btn-default stop')

        }

        $('#' + str +'>span').attr('class','glyphicon glyphicon-'+act)
        $('#' + str).removeAttr('disabled')
    }

    function start(str) {
        $('#'+str).removeAttr('disabled')
        $('#'+str).attr('class','btn btn-default stop')
        $('#'+str+'>span').attr('class','glyphicon glyphicon-stop')
        $('#progress'+str).attr('style','display:block')


    }

    function stop(str) {

        $('#'+str).removeAttr('disabled')
        $('#'+str).attr('class','btn btn-danger record')
        $('#'+str+'>span').attr('class','glyphicon glyphicon-record')
        $('#progress'+str).attr('style','display:none')

    }

    function showbar(val,no){
        if(parseInt(val)<=34){
            $('#green'+no).attr('style','width:'+val+'%')
            $('#yellow'+no).attr('style','width:0%')
            $('#red'+no).attr('style','width:0%')
        }else if(parseInt(val)>34&&parseInt(val)<=67){
            $('#green'+no).attr('style','width:34%')
            var y_no = parseInt(val) - 34
            $('#yellow'+no).attr('style','width:'+y_no+'%')
            $('#red'+no).attr('style','width:0%')

        }else {
            $('#green'+no).attr('style','width:34%')
            var r_no = parseInt(val) - 67
            $('#yellow'+no).attr('style','width:33%')
            $('#red'+no).attr('style','width:'+r_no+'%')

        }

    }

    function showval(id){

        $.post('getval',{'no':id}).done(function (info) {
            if(info.msg == "OK"){
                //console.log(Math.floor(Math.random()*100+1))
                console.log(info.val)
                showbar(info.val,id)
            }
        }).fail(function () {

        })
    }

    $('a.btn').click(function () {

        var id = $(this).attr('id')
        var mark = $(this).attr('class')
        wait(id)

        if(mark == 'btn btn-danger record'){
            var data = {'MSG_TYPE':'STARTRECORD','CHANNELINDEX':id}
            var jsonstr = JSON.stringify(data)

            $.post('btnAction',{'mes':jsonstr}).done(function (info) {


                if(info.msg == 'success'){

    	            $.post('recordStatus',{'no':id,'act':'on'}).done(function () {
                        start(id)
                        intervalarr[id] =  setInterval(showval,300,id)
                    }).fail(function (info) {


                	})

                }else {
                    re_w(id,'record')
                }


            }).fail(function (info) {


            })

            var timestamp = Date.parse(new Date());
            var timestamp = timestamp / 1000;
            var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
            var Y = date.getFullYear() + '-';
            var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1):date.getMonth()+1) + '-';
            var D = (date.getDate()< 10 ? '0'+date.getDate():date.getDate());
            var h = (date.getHours() < 10 ? '0'+date.getHours():date.getHours())+ ':';
            var m = (date.getMinutes() < 10 ? '0'+date.getMinutes():date.getMinutes())+":";
            var s = (date.getSeconds()< 10 ? '0'+date.getSeconds():date.getSeconds())
            var time = Y+M+D+" "+h+m+s;
            var dict = {"name":"{{ name }}","start_time":time,"channel_no":"1","channel_name":"{{ channel1 }}"}

            var json_dict = JSON.stringify(dict)
            $.post('free_log',{"mes":json_dict}).done(function (info) {


            }).fail(function () {

            })
        }
        else {

            var data = {'MSG_TYPE':'STOPRECORD','CHANNELINDEX':id}
            var jsonstr = JSON.stringify(data);
            $.post('btnAction',{'mes':jsonstr}).done(function (info) {

                if(info.msg == 'success'){
                   
                $.post('recordStatus',{'no':id,'act':'off'}).done(function () {
                    stop(id)
                    clearInterval(intervalarr[id])



                }).fail(function () {

                })
                }else {
                    re_w(id,'stop')
                }


            }).fail(function () {

            })
            var timestamp = Date.parse(new Date());
            var timestamp = timestamp / 1000;
            var date = new Date(timestamp * 1000);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
            var Y = date.getFullYear() + '-';
            var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1):date.getMonth()+1) + '-';
            var D = (date.getDate()< 10 ? '0'+date.getDate():date.getDate());
            var h = (date.getHours() < 10 ? '0'+date.getHours():date.getHours())+ ':';
            var m = (date.getMinutes() < 10 ? '0'+date.getMinutes():date.getMinutes())+":";
            var s = (date.getSeconds()< 10 ? '0'+date.getSeconds():date.getSeconds())
            var time = Y+M+D+" "+h+m+s
            var dict = {"end_time":time,"channel_no":"1","channel_name":"{{ channel1 }}","name":"{{ name }}"}

            var json_dict = JSON.stringify(dict)
            $.post('free_log',{"mes":json_dict}).done(function (info) {


            }).fail(function () {

            })
        }
    })

    $('#startall').click(function () {
        $('a.btn>span').attr('class','glyphicon glyphicon-option-horizontal')
        $('a.btn').attr('disabled','disabled')
        var data = {'MSG_TYPE':'STARTRECORD','CHANNELINDEX':'ALL'}
        var jsonstr = JSON.stringify(data);

        $.post('btnAction',{'mes':jsonstr}).done(function (info) {

            if(info.msg == 'success'){

                $.post('recordStatus',{'no':'100','act':'on'}).done(function (info) {
                    $('a.btn').removeAttr('disabled')
                    $('a.btn').attr('class','btn btn-default stop')
                    $('a.btn>span').attr('class','glyphicon glyphicon-stop')
                    $('div.progress').attr('style','display:block')
                    for(var i=1;i<33;i++){
                        if(intervalarr[i]==null){
                            intervalarr[i]=setInterval(showval,300,i)

                        }

                    }

                }).fail(function (info) {


                })




            }else {
                $('a.btn').removeAttr('disabled')
                $('a.btn').attr('class','btn btn-danger record')
                $('a.btn>span').attr('class','glyphicon glyphicon-record')

            }


        }).fail(function () {
            $('a.btn').removeAttr('disabled')
            $('a.btn').attr('class','btn btn-danger record')
            $('a.btn>span').attr('class','glyphicon glyphicon-record')

        })

    })

    $('#stopall').click(function () {


        $('a.btn>span').attr('class','glyphicon glyphicon-option-horizontal')
        $('a.btn').attr('disabled','disabled')
        var data = {'MSG_TYPE':'STOPRECORD','CHANNELINDEX':'ALL'}
        var jsonstr = JSON.stringify(data);

        $.post('btnAction',{'mes':jsonstr}).done(function (info) {

            if(info.msg == 'success'){

                $.post('recordStatus',{'no':'100','act':'off'}).done(function () {
                    $('a.btn').removeAttr('disabled')
                    $('a.btn').attr('class','btn btn-danger record')
                    $('a.btn>span').attr('class','glyphicon glyphicon-record')
                    $('div.progress').attr('style','display:none')
                    for(var i=1;i<33;i++){
                        clearInterval(intervalarr[i])

                    }
                intervalarr = []


                }).fail(function () {

                })



            }else {
                $('a.btn').removeAttr('disabled')
                $('a.btn').attr('class','btn btn-default stop')
                $('a.btn>span').attr('class','glyphicon glyphicon-stop')

            }


        }).fail(function () {
            $('a.btn').removeAttr('disabled')
            $('a.btn').attr('class','btn btn-default stop')
            $('a.btn>span').attr('class','glyphicon glyphicon-stop')

        })

    })

    function shine() {
        var mark = $('label#space').attr('class')
        if(mark == 'disk-info-warn'){
            $('label#space').attr('class','disk-info-warn1')

        }else{
            $('label#space').attr('class','disk-info-warn')

        }

    }

    var shinelight

    function getdiskStatus(){
        $.get('getdiskStatus').done(function (info) {
            if(no == info.no){

            }else{
                $('label#space').html(info.no + 'G')
                no = info.no
                if(no<{{ diskwarn }}){
                    shinelight = setInterval(shine,500)
                    $('#warntip').attr('style','display:inline;')


                }else {
                    clearInterval(shinelight)
                    $('label#space').attr('class','disk-info')
                    $('#warntip').attr('style','display:none;')


                }
            }

        }).fail(function () {

        })
    }





    getdiskStatus()
    setInterval(getdiskStatus,30000)
</script>
{% endblock %}

