{% extends "system/base.html" %}

{% load static %}

{% block title %}网络配置{% endblock %}

{% block css %}
<link href="{% static  "system/css/netconfig.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="alert alert-danger " role="alert" id="myalter" style="display: none">
        <button type="button" class="close" id="close" >
          <span aria-hidden="true">&times;</span>
        </button>
      <strong id="tips" >IP地址不合法</strong> 请重新输入。
    </div>
    <div class="row sparse"><label class="head">网络配置&nbsp&nbsp&nbsp&nbsp</label></div>
    <div class="row tips">
        <label>IP设置</label>
    </div>

    <form method="post" onsubmit="return checkIP()" id="form1">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 line">
                <label>IP:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>{{ form.ip }}
            </div>

            <div class="col-md-5 col-md-offset-1 line">
                <label>子网掩码:&nbsp&nbsp</label>{{ form.mask }}
            </div>
        </div>
        <div class="row sparse">
            <div class="col-md-11 col-md-offset-1 line">
                <label>网关:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>{{ form.netgate }}
            </div>
        </div>
        <div class="hidden">{{ form.usrname_n}}</div>
        <div class="hidden">{{ form.usr_perssions_n}}</div>
        <div class="row ">
            <div class="col-md-2 col-md-offset-8">
                <input type="submit" value="提&nbsp&nbsp交" id="submit" class="btn btn-primary">
            </div>
        </div>
        <div class="alert alert-warning fade in" role="alert" id="myalter1" style="display: none">
            <button type="button" class="close" id="close1">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong id="tips1" >更改IP将会自动重启设备</strong>，请在一段时间后使用新IP重新登录，仍然继续么？
            <input class="btn btn-warning" type="submit" id="continue" value="继续" name="false">
            <button class="btn btn-default" type="button" id="cancle">取消</button>
        </div>
    </form>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample').attr('class','collapse in');
    $('input#id_usrname_n').val("{{ name }}")
    $('input#id_usr_perssions_n').val("{{ permiss }}")
    $('input#id_ip').val("{{ ip }}")
    $('input#id_mask').val("{{ mask }}")
    $('input#id_netgate').val("{{ gateway }}")
    $('button#close').click(function () {
       $('#myalter').attr('style','display:none')
    });
    $('button#close1').click(function () {
        $('#myalter1').attr('style','display:none')
    });
    $('button#cancle ').click(function () {
        $('#myalter1').attr('style','display:none')
    });
    $('input#continue ').click(function () {
        $(this).attr('name','ture')
    });

    function checkIP() {
        obj = document.getElementById("id_ip").value;
        obj1 = document.getElementById("id_mask").value;
        obj2 = document.getElementById("id_netgate").value;
        //ip地址
        var exp=/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
        var reg = obj.match(exp);
        var reg1 = obj1.match(exp);
        var reg2 = obj2.match(exp);
        if(reg==null) {
            $('#tips').html('IP地址不合法')
            $('#myalter').attr('style','display:block')
            return false;
        }else if(reg1==null){
            $('#tips').html('子网掩码地址不合法')
            $('#myalter').attr('style','display:block')
            return false;
        }else if(reg2==null){
            $('#tips').html('网关地址不合法')
            $('#myalter').attr('style','display:block')
            return false;
        }
        else {
            $('#myalter1').attr('style','display:block')
            var mark = $('#continue').attr('name')
            if(mark=='false'){
                return false
            }else{
                return true
            }


        }
    }

</script>
{% endblock %}

