{% extends "system/base.html" %}

{% load static %}

{% block title %}系统配置{% endblock %}

{% block css %}
<link href="{% static  "system/css/searchmid.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row sparse"><label class="head">录音查询&nbsp&nbsp&nbsp&nbsp</label></div>
    <form method="post">
        <div class="row sparse">
            <div class="col-md-6">
                <label class="time" >查询起始时间&nbsp&nbsp</label><input id="start" name="start" type="datetime-local" value="2022-01-01T00:00"/>
            </div>
            <div class="col-md-6">
                <label class="time">查询截止时间&nbsp&nbsp</label><input type="datetime-local" id="end" name="end" value="2022-01-01T00:00"/>
            </div>
        </div>
        <div class="row sparse">
            <div class="col-md-12">
                <label class="time">按通道名(通道号)查询&nbsp&nbsp
                    <select id="sel" name="no">
                        <option value="all" selected="selected">全部 </option>
                        <option value="1" >1通道1</option>
                        <option value="2">2通道2</option>
                        <option value="3">3通道3</option>
                        <option value="4">4通道4</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row sparse">
             <div class="col-md-3 col-md-offset-9">
                 <input type="submit" value="搜索" class="btn btn-primary">

             </div>
        </div>

    </form>

    <h5 class="modal-title" >文件夹列表</h5>

        <table class="table table-hover table-condensed table-striped" id="key_table_body">
            <tbody>
            {% for list in lists %}
                <tr id="id{{ forloop.counter }}">
                    <td><a href="audiofile?name={{ list }}">{{list}}</a></td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample1').attr('class','collapse in');
    $('#start').val('{{ start_a }}')
    $('#end').val('{{ end_a }}')
    $("#sel option[value='{{ channel_no_a }}']").attr("selected","selected")




</script>
{% endblock %}

