{% extends "system/base.html" %}

{% load static %}

{% block title %}系统配置{% endblock %}

{% block css %}
<link href="{% static  "system/css/sysconfig.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="alert alert-danger " role="alert" id="myalter" style="display: none">
        <button type="button" class="close" id="close" >
          <span aria-hidden="true">&times;</span>
        </button>
      <strong id="tips" >IP地址不合法</strong>
    </div>
    <div class="row sparse"><label class="head">录音配置&nbsp&nbsp&nbsp&nbsp</label></div>


    <div class="row tips">
        <label>音频配置</label>
    </div>
    <form method="post">
         <div class="row1 row" id="selebox">
             <div class="col-md-4">
                 {{ form.audiotype.label_tag}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.audiotype}}
             </div>
            <div class="col-md-4" id="audioMode">
                    {{ form.audiomode.label_tag}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.audiomode}}
            </div>
            <div class="col-md-4" id="audioTime">
                <span>{{ form.audiotime.label_tag}}&nbsp;&nbsp;&nbsp;&nbsp;{{ form.audiotime}}&nbsp;&nbsp;&nbsp;分钟</span>
            </div>
         </div>
         <div class="row1 row" id="inputpath">
             <div class="col-md-4" id="filepath">
                 {{ form.path.label_tag}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.path}}
             </div>
             <div class="col-md-8" id="scanbtn">
                 <a class="btn btn-primary" id="scan"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;浏览</a>
             </div>
         </div>

        <div class="row tips">
            <label>通道名称配置</label>
        </div>
        <div class="row1 row channel_name">
            <div class="col-md-2">{{ form.channel1.label_tag}}&nbsp;&nbsp;{{ form.channel1}}</div>
            <div class="col-md-2">{{ form.channel2.label_tag}}&nbsp;&nbsp;{{ form.channel2}}</div>
            <div class="col-md-2">{{ form.channel3.label_tag}}&nbsp;&nbsp;{{ form.channel3}}</div>
            <div class="col-md-2">{{ form.channel4.label_tag}}&nbsp;&nbsp;{{ form.channel4}}</div>
            <div class="col-md-2">{{ form.channel5.label_tag}}&nbsp;&nbsp;{{ form.channel5}}</div>
            <div class="col-md-2">{{ form.channel6.label_tag}}&nbsp;&nbsp;{{ form.channel6}}</div>
        </div>
         <div class="row1 row channel_name">
            <div class="col-md-2">{{ form.channel7.label_tag}}&nbsp;&nbsp;{{ form.channel7}}</div>
            <div class="col-md-2">{{ form.channel8.label_tag}}&nbsp;&nbsp;{{ form.channel8}}</div>
            <div class="col-md-2">{{ form.channel9.label_tag}}&nbsp;&nbsp;{{ form.channel9}}</div>
            <div class="col-md-2">{{ form.channel10.label_tag}}{{ form.channel10}}</div>
            <div class="col-md-2">{{ form.channel11.label_tag}}{{ form.channel11}}</div>
            <div class="col-md-2">{{ form.channel12.label_tag}}{{ form.channel12}}</div>
        </div>
        <div class="row1 row channel_name">
            <div class="col-md-2">{{ form.channel13.label_tag}}{{ form.channel13}}</div>
            <div class="col-md-2">{{ form.channel14.label_tag}}{{ form.channel14}}</div>
            <div class="col-md-2">{{ form.channel15.label_tag}}{{ form.channel15}}</div>
            <div class="col-md-2">{{ form.channel16.label_tag}}{{ form.channel16}}</div>
            <div class="col-md-2">{{ form.channel17.label_tag}}{{ form.channel17}}</div>
            <div class="col-md-2">{{ form.channel18.label_tag}}{{ form.channel18}}</div>
        </div>
        <div class="row1 row channel_name">
            <div class="col-md-2">{{ form.channel19.label_tag}}{{ form.channel19}}</div>
            <div class="col-md-2">{{ form.channel20.label_tag}}{{ form.channel20}}</div>
            <div class="col-md-2">{{ form.channel21.label_tag}}{{ form.channel21}}</div>
            <div class="col-md-2">{{ form.channel22.label_tag}}{{ form.channel22}}</div>
            <div class="col-md-2">{{ form.channel23.label_tag}}{{ form.channel23}}</div>
            <div class="col-md-2">{{ form.channel24.label_tag}}{{ form.channel24}}</div>
        </div>
        <div class="row1 row channel_name">
            <div class="col-md-2">{{ form.channel25.label_tag}}{{ form.channel25}}</div>
            <div class="col-md-2">{{ form.channel26.label_tag}}{{ form.channel26}}</div>
            <div class="col-md-2">{{ form.channel27.label_tag}}{{ form.channel27}}</div>
            <div class="col-md-2">{{ form.channel28.label_tag}}{{ form.channel28}}</div>
            <div class="col-md-2">{{ form.channel29.label_tag}}{{ form.channel29}}</div>
            <div class="col-md-2">{{ form.channel30.label_tag}}{{ form.channel30}}</div>
        </div>
        <div class="row1 row channel_name">
            <div class="col-md-2">{{ form.channel31.label_tag}}{{ form.channel31}}</div>
            <div class="col-md-2">{{ form.channel32.label_tag}}{{ form.channel32}}</div>
            <div class="col-md-2">{{ form.channel33.label_tag}}{{ form.channel33}}</div>
            <div class="col-md-2">{{ form.channel34.label_tag}}{{ form.channel34}}</div>
            <div class="col-md-2">{{ form.channel35.label_tag}}{{ form.channel35}}</div>
            <div class="col-md-2">{{ form.channel36.label_tag}}{{ form.channel36}}</div>
        </div>
         <div class="row1 row channel_name">
            <div class="col-md-2">{{ form.channel37.label_tag}}{{ form.channel37}}</div>
            <div class="col-md-2">{{ form.channel38.label_tag}}{{ form.channel38}}</div>
            <div class="col-md-2">{{ form.channel39.label_tag}}{{ form.channel39}}</div>
            <div class="col-md-2">{{ form.channel40.label_tag}}{{ form.channel40}}</div>
            <div class="col-md-2">{{ form.channel41.label_tag}}{{ form.channel41}}</div>
            <div class="col-md-2">{{ form.channel42.label_tag}}{{ form.channel42}}</div>
        </div>
        <div class="row1 row channel_name">
            <div class="col-md-2">{{ form.channel43.label_tag}}{{ form.channel43}}</div>
            <div class="col-md-2">{{ form.channel44.label_tag}}{{ form.channel44}}</div>
            <div class="col-md-2">{{ form.channel45.label_tag}}{{ form.channel45}}</div>
            <div class="col-md-2">{{ form.channel46.label_tag}}{{ form.channel46}}</div>
            <div class="col-md-2">{{ form.channel47.label_tag}}{{ form.channel47}}</div>
            <div class="col-md-2">{{ form.channel48.label_tag}}{{ form.channel48}}</div>
        </div>
        <div class="row1 row channel_name">
            <div class="col-md-2">{{ form.channel49.label_tag}}{{ form.channel49}}</div>
            <div class="col-md-2">{{ form.channel50.label_tag}}{{ form.channel50}}</div>
            <div class="col-md-2">{{ form.channel51.label_tag}}{{ form.channel51}}</div>
            <div class="col-md-2">{{ form.channel52.label_tag}}{{ form.channel52}}</div>
            <div class="col-md-2">{{ form.channel53.label_tag}}{{ form.channel53}}</div>
            <div class="col-md-2">{{ form.channel54.label_tag}}{{ form.channel54}}</div>
        </div>
        <div class="row1 row channel_name">
            <div class="col-md-2">{{ form.channel55.label_tag}}{{ form.channel55}}</div>
            <div class="col-md-2">{{ form.channel56.label_tag}}{{ form.channel56}}</div>
            <div class="col-md-2">{{ form.channel57.label_tag}}{{ form.channel57}}</div>
            <div class="col-md-2">{{ form.channel58.label_tag}}{{ form.channel58}}</div>
            <div class="col-md-2">{{ form.channel59.label_tag}}{{ form.channel59}}</div>
            <div class="col-md-2">{{ form.channel60.label_tag}}{{ form.channel60}}</div>
        </div>
        <div class="row1 row channel_name">
            <div class="col-md-2">{{ form.channel61.label_tag}}{{ form.channel61}}</div>
            <div class="col-md-2">{{ form.channel62.label_tag}}{{ form.channel62}}</div>
            <div class="col-md-2">{{ form.channel63.label_tag}}{{ form.channel63}}</div>
            <div class="col-md-2">{{ form.channel64.label_tag}}{{ form.channel64}}</div>
        </div>
        <div class="hidden">{{ form.usrname_n}}</div>
        <div class="hidden">{{ form.usr_perssions_n}}</div>
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <input type="submit" value="保&nbsp&nbsp存" id="save" class="btn btn-primary">
            </div>
        </div>
    </form>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true');
    $('div#collapseExample').attr('class','collapse in');
    $('input#id_usrname_n').val("{{ name }}")
    $('input#id_usr_perssions_n').val("{{ permiss }}")
    $('input#id_path').val("{{ filepath }}")
    $('button#close').click(function () {
        $('#myalter').attr('style','display:none')
    });
    var opt = $('select#id_audiomode').val();
    if(opt=='全时段录音'){
        $('div#audioTime').removeAttr('style')
    }else {
        $('div#audioTime').attr('style','visibility: hidden')
    }
    if('{{ method }}'=='get'){


    {% for channel in channels %}
    $('input#id_channel'+'{{ forloop.counter }}').val('{{ channel }}')
    {% endfor %}


        $('select#id_audiomode').val('{{audiomode}}')
        $('select#id_audiotype').val('{{audiotype}}')
        if('{{audiomode}}'=='全时段录音'){
            $('select#id_audiotime').val('{{audiotime}}')
            $('div#audioTime').removeAttr('style')
        }
        else {
            $('div#audioTime').attr('style','visibility: hidden')
        }
    }else {
        if('{{ res }}'=='failed'){
            $('#tips').html('设置失败')
            $('#myalter').attr('class','alert alert-danger')
            $('#myalter').attr('style','display:block')
        }else {
            $('#tips').html('保存成功')
            $('#myalter').attr('class','alert alert-success')
            $('#myalter').attr('style','display:block')

        }
    }

    $('select#id_audiomode').change(function () {
        var opt = $('select#id_audiomode').val();
        if(opt == "自动录音"){
            $('div#audioTime').attr('style','visibility: hidden')
        }
        else {
            $('div#audioTime').removeAttr('style')


        }

    })

$('a#scan').click(function () {
    try {
        var Message = "\u8bf7\u9009\u62e9\u6587\u4ef6\u5939"; //选择框提示信息
        var Shell = new ActiveXObject("Shell.Application");
        //var Folder = Shell.BrowseForFolder(0, Message, 64, 17); //起始目录为：我的电脑
        var Folder = Shell.BrowseForFolder(0, Message, 0); //起始目录为：桌面
        if (Folder != null) {
            Folder = Folder.items(); // 返回 FolderItems 对象
            Folder = Folder.item(); // 返回 Folderitem 对象
            Folder = Folder.Path; // 返回路径
            if (Folder.charAt(Folder.length - 1) != "\\") {
                Folder = Folder + "\\";
            }
            document.getElementById('id_path').value = Folder;
            return Folder;
        }
    }
    catch (e) {
        alert(e.message);
    }

})


</script>
{% endblock %}

