{% extends "system/base.html" %}

{% load static %}

{% block title %}录音配置{% endblock %}

{% block css %}
<link href="{% static  "system/css/sysconfig.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="alert alert-success " role="alert" id="myalter1" style="display: none">
        <button type="button" class="close" id="close1" >
          <span aria-hidden="true">&times;</span>
        </button>
        <strong id="tips" ></strong>
    </div>

    <div class="alert alert-success " role="alert" id="myalter22" style="display: none">
        <button type="button" class="close" id="close22" >
          <span aria-hidden="true">&times;</span>
        </button>
        <strong id="tips22" ></strong>
    </div>

    <div id="hidebg"></div>
    <div class="alert alert-warming" role="alert" id="popUpConfigWin" style="display: none">
        <div id="configWinTips">
            <label>温&nbsp;馨&nbsp;提&nbsp;示</label>
        </div>
        <div id='configWinContext'>
            <label>配置正在生效中，请稍后...</label>
            <strong>[在此期间请勿进行任何操作]</strong>
        </div>
        <div id="configWinSure">
            <button>我知道啦</button>
        </div>
    </div>

    <div class="row sparse"><label class="head">录音配置</label></div>

    <div class="row tips">
        <label>音频配置</label>
    </div>
    <form method="post" id="form">
         <div class="row1 row" id="selebox">
                {{ form.audiotype.label_tag}}&nbsp;&nbsp;{{ form.audiotype}}
        </div>
        <div class="row1 row" id="audioMode">
                {{ form.audiomode.label_tag}}&nbsp;&nbsp;{{ form.audiomode}}
        </div>
        <div class="row1 row" id="audioTime">
            <span>{{ form.audiotime.label_tag}}&nbsp;&nbsp;{{ form.audiotime}}&nbsp;&nbsp;&nbsp;分钟</span>
        </div>

        <div class="row tips">
            <label>通道名称配置</label>
        </div>
        <div class="row1 row channel_name">
            <div class="col-md-5">{{ form.channel1.label_tag}}&nbsp;&nbsp;{{ form.channel1}}</div>
            <div class="col-md-5">{{ form.channel2.label_tag}}&nbsp;&nbsp;{{ form.channel2}}</div>
        </div>
        <div class="row1 row channel_name">
            <div class="col-md-5">{{ form.channel3.label_tag}}&nbsp;&nbsp;{{ form.channel3}}</div>
            <div class="col-md-5">{{ form.channel4.label_tag}}&nbsp;&nbsp;{{ form.channel4}}</div>
        </div>
        <div class="hidden">{{ form.usrname_n}}</div>
        <div class="hidden">{{ form.usr_perssions_n}}</div>
        <div class="row">
            <div class="col-md-2 col-md-offset-8">
                <a id="save" class="btn btn-primary" onclick="check()" >保&nbsp;&nbsp;存</a>
            </div>
        </div>
        <div class="alert alert-warning fade in" role="alert" id="myalter" style="display: none">
            <button type="button" class="close" id="close"><span aria-hidden="true">&times;</span></button>

            <strong id="tips1" >修改这些配置将会自动停止录音</strong>，请在修改成功后重新手动开启录音，仍然继续吗？
            <input class="btn btn-warning" type="submit" id="continue" value="继续">
            <button class="btn btn-default" type="button" id="cancle">取消</button>
        </div>
    </form>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $('a#flow').attr('aria-expanded','true'); //获取当前值的属性
    $('div#collapseExample').attr('class','collapse in');//
    $('input#id_usrname_n').val("{{ name }}")  //返回表单字段的值
    $('input#id_usr_perssions_n').val("{{ permiss }}")//返回表单字段的值
    var opt = $('select#id_audiomode').val();
    if(opt=='全时段录音'){
        $('div#audioTime').removeAttr('style')
    }else {
        $('div#audioTime').attr('style','visibility: hidden')
    };


    if('{{ method }}'=='get'){
        $('input#id_channel1').val('{{ channel1 }}');
        $('input#id_channel2').val('{{ channel2 }}');
        $('input#id_channel3').val('{{ channel3 }}');
        $('input#id_channel4').val('{{ channel4 }}');
        $('select#id_audiomode').val('{{audiomode}}');
        $('select#id_audiotype').val('{{audiotype}}');
        if('{{audiomode}}'=='全时段录音'){
            $('select#id_audiotime').val('{{audiotime}}');
            $('div#audioTime').removeAttr('style');
        }
        else {
            $('div#audioTime').attr('style','visibility: hidden')
        }
    };

    $('select#id_audiomode').change(function () {
        var opt = $('select#id_audiomode').val();
        if(opt == "自动录音"){
            $('div#audioTime').attr('style','visibility: hidden')
        }
        else {
            $('div#audioTime').removeAttr('style')
        }

    });

    //新增
    $('button#close22').click(function () {
       $('#myalter22').attr('style','display:none')//这个主要是为了当点击x的时候，对应窗口关闭
    });


    $('button#close1').click(function () {
       $('#myalter1').attr('style','display:none')

    });

    $('button#close').click(function () {
       $('#myalter').attr('style','display:none')
    });

    $('button#cancle ').click(function () {
        $('#myalter').attr('style','display:none')
    });

    $('div#configWinSure').click(function () {
       $('#popUpConfigWin').attr('style','display:none')
    });

    //在配置提醒窗口
    $('input#continue').click(function () {
        $('#myalter').attr('style','display:none');
        hidebg.style.display="block";  //显示隐藏层
        hidebg.style.height=document.body.clientHeight+"px";  //设置隐藏层的高度为当前页面高度
        document.getElementById("popUpConfigWin").style.display="block";  //显示弹出层
    });



    function check() { //在这里检查录音模式、音频类型、录音时间是否有所改动
         var audiomode = $('select#id_audiomode').val();
         var audiotype = $('select#id_audiotype').val();
         var audiotime = $('input#id_audiotime').val();

        if((audiomode=='{{audiomode}}')&&audiotype=='{{audiotype}}'&&audiotime=='{{audiotime}}')
        {
            $('#form').submit()
        }
        else
        {
            if ((/^(\+|-)?\d+$/.test( audiotime )) && audiotime>=1 && audiotime<60) {
                $('#myalter').attr('style', 'display:block');
            }
            else {
                $('#tips22').html('音频文件存储时间输入错误，该值只能为1-60的正整数。');
                $('#myalter22').attr('class','alert alert-danger ');
                $('#myalter22').attr('style', 'display:block');
            }
        }
    }


    if('{{ res }}'=='failed'){
        $('select#id_audiomode').val('{{audiomode}}');
        $('select#id_audiotype').val('{{audiotype}}');
        $('select#id_audiotime').val('{{audiotime}}');
        $('#tips').html('设置失败');
        $('#myalter1').attr('class','alert alert-danger');
        $('#myalter1').attr('style','display:block');
    }else if('{{ res }}'=='success'){
        $('#tips').html('设置成功');
        $('#myalter1').attr('class','alert alert-success');
        $('#myalter1').attr('style','display:block');

    }
</script>
{% endblock %}

